*{
    box-sizing: border-box; /*help us to control extra sizing*/
}
body{
    background-color: rgb(204, 195, 195);
    font-family: Helvetica, sans-serif;
}
.container{
    background-image: url("old school.jpg" );
    background-repeat: no-repeat;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    border-radius: 10px;
}
h1{
    margin-top: 0;
    text-align: center;
    color: white;
}
input{
    padding: 10px;
    border: 1px solid#ccc;
    border-radius: 40px;
    margin: 10px 0;
    width: 100%;
}
button{
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 19px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}
button:hover{
    color: blue;
}

#total{
    font-size: 24px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
    color: rgba(0, 0, 8, 0.863);
    margin-top: 10px;
}